*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #FEF201;
}
.contenido{
  background: #FEF201;
  text-align: center; 
  width: auto;
  height: 100vh;  
}
.botones{
  display: flex;
  width: 100%;
  padding: 30px 30px;
}
.botones > button > img{
  width: 100%;
}

.botones-mostrar{
  visibility: hidden;
  margin-top: -150px;
}

.botones-puntaje{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;  
}

.botones-mostrar-puntaje{
  visibility: hidden ;
}

.btn-emergente{
  background-color: tomato;
  color: #fff;
  padding: 2px 8px 2px 8px;
  border-radius: 5px;
  font-size: 20px;
}

button{
  background-color:#FEF201
}

#usuario{
  font-size: 4rem;
}
h1{
  text-align: center;
  padding-top: 20px;
  }

  span{
    color: rgb(0, 253, 84);
    font-weight: bold;
  }
.texto{
  text-align: center;
    margin-top: 10px;
  }
  
  #spn{
    color: red;
    text-transform: uppercase;
  }
  
  #recargar > button {
    color: #000000;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif ;
  }

  #footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50PX 30px 0 30PX;
  }

  #footer > img{
    border-radius: 250px;
    object-fit: contain;
    max-width: 50px;
    height: auto;
  }
  #derechos{
    font-size: 12px;
    color: tomato;
    font-weight: bold;
  }

  /** Modal hazGanado y hazPerdido**/
  
  .btn{
    display: inline-block;
    padding: 7px 0px;
    border-radius: 50px;
    width: 100px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.modal-container, .modal-container-hazPerdido{
  visibility: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(146, 144, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal, .modal-hazPerdido{
  height: auto;
  background-color: #FCF6E6;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}
.close-modal, .close-modal-hazPerdido{
  transform: translateY(-300%);
}
.modal> img{
  object-fit: cover;
}
.modal-hazPerdido> img  {
  object-fit: contain;
}
.cerrar, .cerrar-hazPerdido{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  padding-top: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(88, 231, 119);
  font-weight: 700;
}
/* fin modal*/

  /** Modal SAW **/

  .modal-container-saw{
    visibility: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(146, 144, 144, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-saw{
    background-color: #FCF6E6;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 200px;
  }
  .close-modal-saw{
    transform: translateY(-300%);
  }
 
  .cerrar-saw{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(88, 231, 119);
    font-weight: 700; 
  }
  /* fin modal*/