
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.contenedor{
    height: 100vh;
    width: auto;
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 50px;
}
.contenedor{
    margin: 0 auto;
    max-width: 600px;
}

span{
    color: rgb(0, 253, 84);
    font-weight: bold;
}
.texto{
    text-align: center;
    margin-top: 10px;
}

* {
    box-sizing: border-box;
  }
  
  /** Modal **/

  .btn{
      display: inline-block;
      padding: 7px 0px;
      border-radius: 50px;
      width: 100px;
      border: 1px solid #fff;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
  }

.modal-container{
    visibility: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(146, 144, 144, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 50%;
    height: auto;
    background-color: #FCF6E6;
    overflow: hidden;
    text-align: center;
    padding-top: 40px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
.close-modal{
    transform: translateY(-300%);
}
.modal> img {
    width: 50%;
    height: auto;
}
.cerrar{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(88, 231, 119);
    font-weight: 700;
}
/* fin modal*/

  /** Modal SAW **/

.modal-container-saw{
  visibility: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(146, 144, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-saw{
  width: 50%;
  height: auto;
  background-color: #FCF6E6;
  overflow: hidden;
  text-align: center;
  padding-top: 40px;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}
.close-modal-saw{
  transform: translateY(-300%);
}
.modal> img {
  width: 50%;
  height: auto;
}
.cerrar-saw{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  padding-top: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(88, 231, 119);
  font-weight: 700;
}
/* fin modal*/